/* body {
  font-family: Arial, sans-serif;
  padding: 20px;
} */

input {
  margin: 5px 0;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
body {
  background-image: url('https://as2.ftcdn.net/v2/jpg/03/09/86/97/1000_F_309869755_IquCHHxF7YABo2odctUGEjMrgVDSM8qV.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
